.centre {
    text-align: center;
}

body {
    background-image: url("Snow.png");
    animation: moveIt 10s linear infinite;
}

.whitetext {
    color: white;
    text-shadow: 2px 2px black;
    background: dimgray;
}

.button {
    align-content: center;
    color: white;
    background-image: url("Brick.png");
    height: 50px;
    width: 100px;
    padding: 14px 25px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: inline-block;

    border-radius: 10px;

    box-shadow: inset 4px 4px 5px rgba(200, 200, 200, 0.7), /* Light source from top-left */ inset -4px -4px 5px rgba(0, 0, 0, 0.5);
}

.button:hover {
    background-color: lightgray;
    background-blend-mode: multiply;
    font-size: 14px;
    #width: 110px;
    #height: 60px;
    #border-radius: 30px;

    box-shadow: inset 8px 8px 5px rgba(0, 0, 0, 0.5), /* Light source from top-left */ inset -8px -8px 5px rgba(0, 0, 0, 0.5);
}

.topimg{
    width: 10%;
}